    <a class="skip-link" href="#inhalt">Zum Inhalt</a>
    <header class="site-header">
      <div class="wrap header-inner">
        <a class="wordmark" href="./index.html">
          <img
            class="wordmark-logo"
            src="./media/logo-z.png"
            alt=""
            width="44"
            height="44"
          />
          <span>
            <span class="wordmark-name">André Zuraikat</span>
            <span class="wordmark-role">Die Mitte · Winterthur</span>
          </span>
        </a>
        <nav class="nav" aria-label="Hauptnavigation">
          <a data-nav="index" href="./index.html">Start</a>
          <a data-nav="ueber" href="./ueber.html">Über mich</a>
          <a data-nav="standpunkte" href="./standpunkte.html">Standpunkte</a>
          <a data-nav="referenzen" href="./referenzen.html">Stimmen</a>
          <a data-nav="aktuell" href="./aktuell.html">Aktuell</a>
          <a data-nav="kontakt" href="./kontakt.html">Kontakt</a>
        </nav>
      </div>
    </header>
