    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="André Zuraikat" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K57TVMKKE4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-K57TVMKKE4");
    </script>
    <link rel="icon" href="./media/logo-z.png" type="image/png" />
    <link rel="stylesheet" href="./css/styles.css" />
