    <a class="skip-link" href="#inhalt">Zum Inhalt</a>
    <header class="site-header">
      <div class="wrap header-inner">
        <a class="wordmark" href="./index.html">
          <span class="wordmark-name">André Zuraikat</span>
          <span class="wordmark-role">Stadtparlament Winterthur</span>
        </a>
        <nav class="nav" aria-label="Hauptnavigation">
          <a data-nav="index" href="./index.html">Start</a>
          <a data-nav="ueber" href="./ueber.html">Über mich</a>
          <a data-nav="standpunkte" href="./standpunkte.html">Standpunkte</a>
          <a data-nav="referenzen" href="./referenzen.html">Stimmen</a>
          <a data-nav="geschaefte" href="./geschaefte.html">Parlament</a>
          <a data-nav="aktuell" href="./aktuell.html">Aktuell</a>
          <a data-nav="kontakt" href="./kontakt.html">Kontakt</a>
        </nav>
        <a
          class="party-logo"
          href="https://winterthur.die-mitte.ch/"
          rel="noopener noreferrer"
        >
          <img
            src="./media/logo-die-mitte-negativ.svg"
            alt="Die Mitte"
            width="94"
            height="80"
          />
        </a>
      </div>
    </header>
